NODE_ENV=development
UNSPLASH_ACCESS_KEY='<Unsplash API KEY>' # https://unsplash.com/join
COLORSPLASH_S3_USER='<Your S3 user>'
S3_BUCKET_NAME='<Your S3 image bucket>
S3_REGION='<Your S3 bucket region>'
UNSPLASH_PAGE_MARKER_KEY='unsplash_page_counter.json'
S3_CONFIG_BUCKET_NAME='<Your S3 configuration bucket>' # Must be separate from image bucket
DDB_TABLE_NAME='<Your DynamoDB table>'
S3_BUCKET_SIZE_GUARDRAIL=2000
DDB_ITEM_COUNT_GUARDRAIL=10000